<div>
    <div ng-include="'pages/header/header-bar.html'"></div>
</div>

<div ng-controller="nutritionistViewCtrl">
    <section class="nutritionist-detail-section">
        <div class="wrap">
            <div class="nutritionist-profile mb20">
                <div class="section section-one mb20">
                    <div class="nutritionist-logo">
                        <img ng-src="{{ nutritionist.avatar }}" alt="">
                    </div>
                    <div class="nutritionist-container">
                        <p class="nutritionist-head mb5" ng-click="goToprofile(n)"> {{ nutritionist.name }} </p>
                        <p class="degree"></p>

                        <p class="experience mb10">{{ getSpecialities() }} {{ nutritionist.experience }} Years experience</p>
                        <p class="rating"></p>
                        <p class="about"> {{ nutritionist.about }} </p>
                    </div>
                </div>
                <div class="section section-two" ng-init="infoTab = true">
                    <nav>
                        <ul>
                            <li ng-click="infoTab=true; feedbackTab=false; consultTab=false; healthfeedTab=false">
                                <a>Info</a>
                            </li>
                            <li ng-click="infoTab=false; feedbackTab=true; consultTab=false; healthfeedTab=false">
                                <a>Feedback</a>
                            </li>
                            <li ng-click="infoTab=false; feedbackTab=false; consultTab=true; healthfeedTab=false">
                                <a>Consult Q&A</a>
                            </li>
                            <li ng-click="infoTab=false; feedbackTab=false; consultTab=false; healthfeedTab=true">
                                <a>Healthfeed</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="sub-section-two" ng-show="infoTab" ng-class="'white'">
                        info
                    </div>
                    <div class="sub-section-two" ng-show="feedbackTab">
                        Feedback
                    </div>
                    <div class="sub-section-two" ng-show="consultTab">
                        Consult
                    </div>
                    <div class="sub-section-two" ng-show="healthfeedTab">
                        Healthfeed
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>