<div ng-controller="loginController">
    <div class="search-input-area">
        <span>
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input type="text" placeholder="Location" ng-click="locationTab = true; suggationTab = false;" ng-model="locationValue">
        <input type="text" placeholder="Search for Doctors, Clinics, hospitals" ng-click="suggationTab = true; locationTab = false">
    </div>

    <div class="detect-location-tab" ng-click="getLocation()">
        <div>
            <img src="../../img/detect-location-logo.png" width="10px" height="10px" alt="">
        </div>
        <span>DETECT</span>
    </div>

    <div class="suggation-tab" ng-show="suggationTab">
        <ul>
            <li ng-repeat="s in suggetion" ui-sref="details" ng-click="setDetails(s.name)">
                <a>{{ s.name }}</a>
            </li>
        </ul>
    </div>

    <div class="location-tab" ng-show="locationTab">
        <ul>
            <li ng-repeat="loc in location" ng-click="setValue(loc)">
                <a href=""> {{loc}} </a>
            </li>
        </ul>
    </div>

</div>