<div ng-controller="searchCtrl">
    <form ng-submit="goTodetails(query.q)">
        <div class="search-location">
            <input type="text" placeholder="Location" ng-click="toggleLocationmenu($event)" ng-model="query.cityName" id="locInput">
            <div class="detect-location-tab" ng-click="getLocation()">
                <div>
                    <img src="../../img/detect-location-logo.png" width="10px" height="10px" alt="">
                </div>
                <span>DETECT</span>
            </div>
            <div class="location-tab" ng-show="locationTab" id="locationTab">
                <ul>
                    <li ng-repeat="city in cities | filter: query.cityName" ng-click="setCity(city)">
                        <a href="javascript:void(0)"> {{ city.name }} </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="search-info">
            <span>
                <i class="fa fa-search" aria-hidden="true" style="margin-right: 10px;"></i>
            </span>
            <input type="text" placeholder="Search for Doctors, Clinics, hospitals" ng-click="toggleSuggationmenu($event)" ng-model="query.q" id="suggInput">
            <div class="suggation-tab" ng-show="suggationTab" id="suggationTab">
                <ul>
                    <li ng-repeat="s in specialities | filter: query.q" ng-click="goTodetails(s)">
                        <a href="javascript:void(0)">{{ s.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" hidden></button>
    </form>
</div>